<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Index
    </super-navbar-title>
  </super-navbar>
  <div class="padding">
    <h1 class="first-title">Pow! Here's your fresh module!</h1>

    <button ng-click="alertme()">Send an alert</button><br/><br/>
    <button ng-click="logme()">Log a message</button><br/><br/>
    <button ng-click="jquerytest()">jquery test change title color</button><br/><br/>

    <div style="background-color: pink; width:55px;height: 55px;position: relative;" class="box1">move me</div>
    <button ng-click="tweentest()">tween max test</button><br/><br/>


    <div style="background-color: blue; width:55px;height: 55px;position: relative;" class="box2">move me</div>
    <div style="background-color: green; width:55px;height: 55px;position: relative;" class="box3">move me</div>
    <button ng-click="tweentimelinetest()">tween Time Line test</button><br/><br/>

<h2>Ionic list</h2>
<ion-list>
  <ion-item ng-repeat="item in ['67687','6768755','676844587','67687d']">
    Hello, {{item}}!
  </ion-item>
</ion-list>



  </div>

</div>