$modev-yellow : #f7be4b;
$modev-blue: #48a1dd;
$modev-red: #ca482d;
.login-view{
	width: 100%;
	height: 100%;
	background-image: url("/images/bg.png");
	padding-top: 30px;
	.login-logo{
		height: calc(100% - 350px);
		width: 100%;
		img{
			display: block;
			width: 50%;
			margin: auto;
		}
		h1{
			color: #FFFFFF;
			font-size: 3em;
			text-align: center;
			margin-top: 0px;

		}
	}
	.login-content{
		padding-top:30px;
		height: 350px;
		max-width: 100%;
		.bt-log{
			width:80%;
			margin: auto;
			height: 50px;
			font-size: 1.5em;
			color: #FFFFFF;
			text-align: center;
			padding: 15px;
			margin-bottom: 15px
		}
		.primary{
			background-color: $modev-yellow;
		}
		.primary.input-email{
			background-color: green;
		}
		.secondary{
			background-color: $modev-blue;
		}
		.tertiary{
			background-color: $modev-red;
		}
		.or, .login,.signup{
			color: #FFFFFF;
			text-align: center;
			margin-bottom: 15px;
		}
		.login{
			font-size: 1.3em;
			font-weight: 700;
		}
		.or{
			font-size: 1.2em;
		}
		.signup{
			font-size: 1.2em;
		
		}
		.login-input{
			height:0px;
			opacity:0;
			overflow: hidden;
			margin:0;
		}

	}
}
