html,body{
	height: 100%;
	width: 100%;
}
.nav-bar-dynamic{
	height: 150px;
	background-color: red;
	z-index: 500;
	// position: absolute;
	h1{
		color: white;
	}
}

.main-header{
	background-image: url('/images/profile-bg01.png');
	background-size: 100% auto;
	margin-top:0;
	padding:0;

	.container{
		width:100%;
		height: 100%;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-webkit-justify-content: space-between;
		-webkit-align-items: stretch;
		.nav-main{
			padding:3px;

			height: calc(99% - 44px);
			display: -webkit-flex;
			-webkit-flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-webkit-justify-content: space-between;
			-webkit-align-items: stretch;
            .hexagon {
              width: 210px;
              padding-left: 4px;
              padding-top: 6px;
            }
            .dynamic-content{

                padding-top: 19px;
                padding-left: 5px;
              .title-label {
                color: #FFF;
              }
              .p-label{
                margin-top: -11px;
              }
            }
		}
		.nav-menu{
			border-top: solid 1px #FFF;
			a{
				border:none;

			}
			a.active{

				border-bottom: solid 4px #921800;
			}

		}
       .nav-button-container{

          position: absolute;
          top:0;
          right:0;
          height:1px;
          overflow: visible;
          min-width: 100px;
          z-index: 100;
          padding:5px;
          .hex-bt{
			float: right;
			margin-left:10px;          	
          }
        }
	}
}
.sessions-header{
	background-image: url('/images/speaker-bg01.png');
}
.search-drawer{
	background-color: #4c4c4c;
	background-image: url('/images/tweed_@2X.png');
	color: #FFF;
}
.date-card-holder{
	display: -webkit-flex;
	// -webkit-flex-direction: row;
	// -webkit-flex-wrap: nowrap;
	-webkit-justify-content: center;
	// -webkit-align-items: center;	
	margin:auto;
	width: 300px;

	.date-card{
		width: 70px;
		height: 75px;
		margin:0 10px;
		background:#8B8B8B;
		color: #3C3C3C;
		font-size: 18px;
		padding:15px 0;

	}
	.date-card.active{
		border-bottom: 4px solid red;
		color: #FFF;
		background:#0186e2;

	}
}
.slider {
  height: 200px;
  width:900px;
  background: gray;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: green;
  text-align: center;
	height:200px;
	width: 200px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.swiper-container{
    width: 300px;
    height: 200px;
    background: blue;
    padding:15px;
}  
.swiper-slide{
	width: 300%;
	height:200%;
	// margin:auto;
	// background:pink;
}