<div ng-controller="IndexController" class="login-view">
	<div class="login-logo" ng-click="backHome()">
		<img src="/images/logo.png">
		<h1>modev</h1>
	</div>

	<div class="login-content">
		<div class="login">
			<span ng-if="!loginStates.signUp">Login</span>
			<span ng-if="loginStates.signUp">Sign up</span>
			 with:</div>

		<div class="list login-input" ng-class="{'input-home':loginStates.home,'input-email':loginStates.email,'input-signup':loginStates.signUp}">
		  <div class="item item-input col col-80 col-offset-10">
		    <input type="text" placeholder="Email" ng-model="user.email">
		  </div>
		  <div class="item item-input col col-80 col-offset-10">
		    <input type="password" placeholder="Password" ng-model="user.password">
		  </div>
		  <div class="item item-input col col-80 col-offset-10" ng-show="loginStates.signUp">
		    <input type="password" placeholder="Password confirmation" ng-model="user.password_confirmation">
		  </div>
		</div>
		<div class="bt-log primary" ng-click="emailLogin()">
			<span ng-if="loginStates.home">Email</span>
			<span ng-if="loginStates.email">Login</span>
			<span ng-if="loginStates.signUp">Sign Up</span>
		</div>
		<div class="signup" ng-show="loginStates.email || loginStates.signUp" ng-if="errors != null" ng-click="signUpLogin()" style="text-transform: capitalize;">{{errors}}</div>
		<div class="signup" ng-show="loginStates.email" ng-click="signUpLogin()">sign up?</div>
		<div class="or" ng-class="{'hide-me':!loginStates.home}">or</div>
		<div class="bt-log secondary" ng-class="{'hide-me':!loginStates.home}"><i class="fa fa-twitter-square"></i> Twitter</div>
		<div class="bt-log tertiary" ng-class="{'hide-me':!loginStates.home}"><i class="fa fa-linkedin-square"></i> Linkedin</div>
	</div>
</div>