<div class="button-bar nav-menu" >
  <a class="button"
     style="background-color: {{bg}}; color:{{color}};height:40px; border-color: {{borderColor}}"
     ng-repeat="menu in menus"
	 ng-click="selected(menu)"
     ng-class="{active: menu.isActive}" >
  	   {{menu.name}}
  </a>
</div>