
<div class="list" >
  <div class="item item-divider" style="background:#c8baa6; margin-bottom: 15px;">
   {{title}}
  </div>
</div>
<div ng-repeat="person in people">
	<div ng-if="$even" style=" width:100%;
	 			display: -webkit-flex;
				-webkit-flex-direction: row;
				-webkit-flex-wrap: nowrap;
				-webkit-justify-content: flex-start;
				-webkit-align-items: center;
				margin-top:-22px;">
		<ng-hex-image src="person.profile_image_url" size="90" border="4" border-color="{{color}}"></ng-hex-image>
		<div style="background:#FFF; border-radius: 5px; margin-top:16px; border: 1px solid #B6B6B6;
		             height: 65px; margin-left:-52px; width: calc( 97% - 35px );
					display: -webkit-flex;
					-webkit-flex-direction: column;
					-webkit-flex-wrap: nowrap;
					-webkit-justify-content: space-between;
					overflow:hidden;
		             ">
			<div style="padding-left:50px;">
				<h2 style="font-size:14px;color:{{color}}; margin-top:5px;margin-bottom:0px;">{{person.first_name}} {{person.last_name}}</h2>
				<p style="margin-top:0px; width: 98%;   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">
					{{person.title}}
				 	<span style="font-size: .9em; color: #888888;">at {{person.company}}</span>
				 	</p>
			</div>
			<div style="background: #eeeeee; text-align:right;color:#484848; font-size: 11px; padding-right:8px;">
			  <i class="fa fa-check-square"></i> Have Contact Info
			</div>
		</div>
	</div>

	<div ng-if="$odd" style=" width:100%;
	 			display: -webkit-flex;
				-webkit-flex-direction: row;
				-webkit-flex-wrap: nowrap;
				-webkit-justify-content: flex-start;
				-webkit-align-items: center;
				padding-left:40px;
				margin-top:-22px;
				">
		<ng-hex-image src="person.profile_image_url" size="90" border="4" border-color="{{color}}"></ng-hex-image>
		<div style="background:#FFF; border-radius: 5px; margin-top:16px; border: 1px solid #B6B6B6;
		             height: 65px; margin-left:-52px; width: calc( 97% - 35px );
					display: -webkit-flex;
					-webkit-flex-direction: column;
					-webkit-flex-wrap: nowrap;
					-webkit-justify-content: space-between;
					overflow:hidden;
		             ">
			<div style="padding-left:50px;">
				<h2 style="font-size:14px;color:{{color}}; margin-top:5px;margin-bottom:0px;">{{person.first_name}} {{person.last_name}}</h2>
				<p style="margin-top:0px; width: 98%;   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">
					{{person.title}}
				 	<span style="font-size: .9em; color: #888888;">at {{person.company}}</span>
				 	</p>
			</div>
			<div style="background: #eeeeee; text-align:right;color:#484848; font-size: 11px; padding-right:8px;">
			  <i class="fa fa-check-square"></i> Have Contact Info
			</div>
		</div>
	</div>
</div>

