<div style="height: {{size}}px; width: {{size}}px; ">
<div style="height:0;overflow:visible;position: relative;right:0px;float:right;width:20px;z-index:400;" ng-show="badge">
  <div style="background:#D43f22; text-align: center;border-radius: 25px; color:#FFF;">{{badge}}</div>
</div>
  <div style="width: 85%;  height:95%; margin:auto">
    <div style="
                top: 0px;
                left: 0px;
                position: relative;
                min-width: 100%;
                height:100%;
                overflow: hidden;
                background: white;
                z-index: 100;
                display:block;
                -webkit-clip-path: polygon(
                  46% 1%,50% 0.5%,54% 1%,
                  96% 23%,98% 25%,99% 27%,99.5% 30%,
                  99.5% 70%,99% 73%,98% 75%,96% 76%,
                  54% 99%,50% 99.5%,46% 99%,
                  4% 76%,2% 75%,1% 73%,0.5% 70%,
                  0.5% 30%,1% 27%,2% 25%,4% 23%
                );
                text-align: center;
                display: -webkit-flex;
                -webkit-flex-direction: column;
                -webkit-flex-wrap: nowrap;
                -webkit-justify-content: center;
                -webkit-align-items: stretch;
                font-size: {{fontSize}};
                color: {{color}};" >
              
          <i class="fa fa-{{icon}}"></i>
    </div>
  </div>

</div>