  <div style="height: {{size}}px; width: {{size}}px; overflow:hidden;">
    <div style="width: 85%;  height:95%;  margin:auto">
      <div style="top: 0px;left: 0px;position: relative;min-width: 100%;height:100%;overflow: hidden;background: {{borderColor}};z-index: 100;display:block;-webkit-clip-path: polygon(
    46% 1%,50% 0.5%,54% 1%,
    96% 23%,98% 25%,99% 27%,99.5% 30%,
    99.5% 70%,99% 73%,98% 75%,96% 76%,
    54% 99%,50% 99.5%,46% 99%,
    4% 76%,2% 75%,1% 73%,0.5% 70%,
    0.5% 30%,1% 27%,2% 25%,4% 23%
  );">
      </div>
    </div>
      <div style="width: 85%;  height:95%;  margin:auto">
         <div style="top: -{{100-(border)}}%;left:{{border}}%;position: relative;width: {{100-(border*2)}}%;height:{{100-(border*2)}}%;overflow: hidden;z-index: 100;display:block;-webkit-clip-path: polygon(
    46% 1%,50% 0.5%,54% 1%,
    96% 23%,98% 25%,99% 27%,99.5% 30%,
    99.5% 70%,99% 73%,98% 75%,96% 76%,
    54% 99%,50% 99.5%,46% 99%,
    4% 76%,2% 75%,1% 73%,0.5% 70%,
    0.5% 30%,1% 27%,2% 25%,4% 23%
  ); text-align:center; background-image: url('http://modev.appteam.io/{{image}}');background-repeat: no-repeat;background-position: center;background-size: auto 100%;">
         </div>
       </div>
  </div>