<a class="button" 
style="font-size:25px;
       color: #FFF;
       margin:2px;
       border-radious:10px;
       border: none; 
       padding: 8px 5px;
       background:{{bg}};" >
               <i class="fa fa-{{icon}}"></i>
</a>