	<div class="card" style="height:{{duration*4}}px; border-left: solid; border-color:{{color}}; border-width: 5px;">
		<div class="item item-text-wrap" style="padding: 4px; margin: 4px;">
		<div style="z-index:400;float:right;width:30px;position:relative; top:0px;right:0px; font-size: 26px; color:#D2D2D2;" ng-click="showActions($event)">
			<i class="fa fa-{{icon}}"></i>
		</div>
		{{time}}<br/>
		<h2>{{title}}</h2>
		<p style="font-size: 14px;">{{description}}</p>
		<h5>Location: {{location}}</h5>
		</div>
	</div>

    <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              Learn Ionic
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Showcase
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>