<div ng-controller="IndexController">

	<ion-header-bar class="main-header sessions-header" align-title="left" style="height:120px;">
		<div class="container">
			<div class="nav-main">

			</div>
			<ng-header-menu menus="menus" color="#FFF" bg="#0186e2" border-color="#185d8c"></ng-header-menu>
		</div>
	</ion-header-bar>
	<ion-content style="background: #d8d7d5;padding-top: 80px;" scrollbar-y="false">
		<div ng-show="menus[0].isActive">
			<h1>	To DO ....</h1>

		</div>
		<div ng-show="menus[1].isActive" style="background:none; margin:0;">
			<div style="text-align: center;">
			  	<h4 ng-click="showslide()">Modev UX 201005</h4>
				<div class="date-card-holder">
				  <ng-date-card month="Jan" day="14" is-active="{{testActive}}" bg="green" border-color="purple" ng-click="testActive = !testActive"></ng-date-card>
				  <ng-date-card month="Jan" day="15" is-active="true" bg="green" border-color="purple" ></ng-date-card>
				  <ng-date-card month="Jan" day="15" is-active="false" bg="green" border-color="purple" ></ng-date-card>
			  	</div>
			  	<div class="button-bar" style="margin-top: 30px;">
				  <a class="button button-small " ng-class="{'button-light':slide.id == 0,'button-dark': slide.id != 0}" ng-click="slide.id = 0" >First</a>
				  <a class="button button-small" ng-class="{'button-light':slide.id == 1,'button-dark': slide.id != 1}"  ng-click="slide.id = 1">Second</a>
				  <a class="button button-small" ng-class="{'button-light':slide.id == 2,'button-dark': slide.id != 2}"  ng-click="slide.id = 2">Third</a>
				</div>
				<div ng-swiper ready="{{focused}}" slide="slide">
					<div ng-swiper-slide>
						<ng-time-slot title="title here" description="description here" time="8am to 9am" duration="60" color="yellow" icon="plus" icon-size="22" icon-actions=""></ng-time-slot>
				  			<ng-time-slot title="title here" description="description here" time="9am to 9:30am" duration="30" color="red" icon="plus" icon-size="22" icon-actions="sayhello"></ng-time-slot>
				  			<ng-time-slot title="title here" description="description here" time="9:30am to 11:00am" duration="90" color="purple" icon="plus" icon-size="22"icon-actions="sayhello"></ng-time-slot>
					</div>
					<div ng-swiper-slide>
						  	<ng-time-slot title="title here" description="description here" time="8am to 9am" duration="60" color="green" icon="plus" icon-size="22" icon-actions=""></ng-time-slot>
				  			<ng-time-slot title="title here" description="description here" time="9am to 9:30am" duration="30" color="red" icon="plus" icon-size="22" icon-actions="sayhello"></ng-time-slot>
				  			<ng-time-slot title="title here" description="description here" time="9:30am to 11:00am" duration="90" color="purple" icon="plus" icon-size="22"icon-actions="sayhello"></ng-time-slot>
					</div>
					<div ng-swiper-slide>
						  	<ng-time-slot title="title here" description="description here" time="8am to 9am" duration="60" color="green" icon="plus" icon-size="22" icon-actions=""></ng-time-slot>
				  			<ng-time-slot title="title here" description="description here" time="9am to 9:30am" duration="30" color="red" icon="plus" icon-size="22" icon-actions="sayhello"></ng-time-slot>
				  			<ng-time-slot title="title here" description="description here" time="9:30am to 11:00am" duration="90" color="purple" icon="plus" icon-size="22"icon-actions="sayhello"></ng-time-slot>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="menus[2].isActive">
				<ng-hex-list people="speakers" color="#0186e2" title="Speakers"></ng-hex-list>
		</div>

	</ion-content>

	<div class="bar bar-footer" style="margin:0; padding:0; background:#e9e9e9">
	  	<div class="button-bar" style="margin:0;padding:0; font-size:22px;">

		  <a ng-tab icon="user" is-active="false"  ng-click="showProfile()"></a>
		  <a ng-tab icon="list" is-active="true"></a>
		  <a ng-tab icon="cube" is-active="false"></a>
		
		</div>
	</div>

</div>