<div ng-controller="IndexController">

	<ion-header-bar class="main-header" align-title="left" style="height:170px;">
		<div class="container">
			<div class="nav-main">
					<ng-hex-image class="hexagon" src="image" size="110" border="3" border-color="#FFF" ></ng-hex-image>

					<div class="dynamic-content">
					    <h4 class="title-label" >Maxim Leyzerovich</h4>
						<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet						
						</p>
					</div>
			</div>
            <div class="nav-button-container">
            	<ng-hex-button size="45" color="#3E3E3E" font-size="22px" icon="envelope" badge="40" class="hex-bt"></ng-hex-button>
            	<ng-hex-button size="45" color="#3E3E3E" font-size="22px" icon="user-plus" class="hex-bt" ng-click="openDrawer()"></ng-hex-button>
            </div>
			<ng-header-menu menus="menus" color="#FFF" bg="#d43f22"></ng-header-menu>
		</div>
	</ion-header-bar>

	<ion-content style="background: #d8d7d5;padding-top: 130px;" scrollbar-y="false">
		<div ng-show="menus[0].isActive">
			<h1>Profile:{{visible}}</h1>
			{{user}}
			<button class="button button-light" ng-click="findUser()">
			 Find User
			</button>
			<button class="button button-light" ng-click="logOut()">
			Log out
			</button>
			{{speakers[0].first_name}}				
		</div>
		<div ng-show="menus[1].isActive" style="background:none; margin:0;">
			<div class="list list-inset" style="border-radius: 10px; margin:10px;">
			  <span class="item item-input" >
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search" >
			  </span>
			</div>
			<ng-hex-list people="speakers" color="#ff8036" title="People I met"></ng-hex-list>
		</div>
		
		<div ng-show="menus[2].isActive">

			<div style="text-align: center;">
			  <h4>My Upcoming Sessions</h4>
			  <div class="date-card-holder">
				  <div class="date-card">
				  	Feb<br/>
				  	28
				  </div>
				  <div class="date-card active">
				  	Feb<br/>
				  	28
				  </div>
				  <div class="date-card">
				  	Feb<br/>
				  	28
				  </div>
			  </div>
			  </div>
			  <ng-time-slot title="title here" description="description here" location="Artisphere Rosslyn" time="8am to 9am" duration="60" color="green"></ng-time-slot>
			  <ng-time-slot title="title here" description="description here"  location="Artisphere Rosslyn" time="9am to 9:30am" duration="30" color="red" ></ng-time-slot>
			  <ng-time-slot title="title here" description="description here"  location="Artisphere Rosslyn 2" time="9:30am to 11:00am" duration="90" color="purple"></ng-time-slot>
		</div>

	</ion-content>
	<div class="bar bar-footer" style="margin:0; padding:0; background:#e9e9e9">
	  	<div class="button-bar" style="margin:0;padding:0; font-size:22px;">
		  <a ng-tab icon="user" is-active="true"></a>
		  <a ng-tab icon="list" is-active="false" ng-click="showSession()"></a>
		  <a ng-tab icon="cube" is-active="false"></a>
		</div>
	</div>
</div>