

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title><%= yield.viewName %></title>
 <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css" />
  <link rel="stylesheet" href="/app/common/stylesheets/application.css" />
  <link rel="stylesheet" href="/common/stylesheets/style.css" />
  <link rel="stylesheet" href="/common/stylesheets/login-style.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/components/swiper/dist/css/swiper.min.css">
  <link rel="import" href="/components/supersonic/components/import.html">

  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/jquery/jquery-2.1.3.min.js"></script>
  <script src="/ionic/ionic.bundle.min.js"></script>
  <script src="http://code.ionicframework.com/1.0.0-beta.14/js/angular/angular-resource.min.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
               
<script src="//www.polymer-project.org/webcomponents.min.js"></script>

  <script src="http://localhost/cordova.js"></script>
  <script src="/greensock/TweenMax.min.js"></script>


  <% _.each(yield.modules, function(module) { %>
  <script src="/app/<%= module %>.js"></script>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>
<script src="/components/swiper/dist/js/swiper.min.js"></script>
<script src="/components/swiper/dist/js/swiper.jquery.min.js"></script>
</body>
</html>
