<div ng-controller="IndexController">

	<ion-header-bar align-title="left" class="search-drawer">
		<div class="list list-inset" style="height:30px; margin:10px 3px; padding:0;">
		  <span class="item item-input" style="margin:0;padding:0;">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </span>
		</div>
	</ion-header-bar>
	
	<ion-content class="search-drawer" >
	<div >
	  <div style="background:none;display: -webkit-flex;
				-webkit-flex-direction: row;
				-webkit-flex-wrap: nowrap;
				-webkit-justify-content: flex-start;
				-webkit-align-items: flex-start;
				padding:5px; border-bottom: 1px solid rgba(109,109,109,0.5);  "  ng-repeat="person in [people[2],people[8],people[6],people[3]]" >
		  <img ng-src="{{person.image}}" style=" display:block;border-radius: 3px; width:40px;height:auto; margin:5px;">
		  <div style="width:  calc(97% - 40px); overflow:hidden;">
		    <h2 style="color:#FFF; margin:5px 0 0 0;padding:0; font-size: 14px; white-space: nowrap; text-overflow: ellipsis;width:100%; overflow:hidden;" >{{person.name}}</h2>
	      	<p style="color:#DDDDDD; white-space: nowrap; text-overflow: ellipsis; width:100%;overflow:hidden;">{{person.title}} at {{person.company}}</p>

	      </div>
	  </div>
	</div>
	</ion-content>
</div>